{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<!--
IFMA - CAMPUS BACABAL
Disciplina de Autoria Web
Professor Marcelo Eugenio

Alunos:
Danilo de Brito Morais
Jamilly da Sulva Fernandes
Jordan Sousa da Silva
Nicolly Ádrya Nascimento Almeida
Reidyere Nascimento da Silva

Turma de Informática II (TIF 2)

Tema do site: Saúde Pública
-->

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Saúde Pública</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="shortcut icon" href="{% static 'icone/favicon.ico' %}" type="image/x-icon">
<link href="http://fonts.googleapis.com/css?family=Raleway:400,200,500,600,700,800,300" rel="stylesheet" />
<link href="{% static 'css/default.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/fonts.css' %}" rel="stylesheet" type="text/css" media="all" />
</head>

<body>

<div id="wrapper">

	<div id="menu-wrapper">

		<div id="menu" class="container">
			<ul>
				<li class="current_page_item"><a href="#">Página Principal</a></li>
				<li><a href="informe-se.html">Informe-se a respeito</a></li>
				<li><a href="depoimentos.html">Depoimentos</a></li>
				<li><a href="videos.html">Vídeos recomendados</a></li>
				<li><a href="sobre.html">Sobre</a></li>
			</ul>
		</div>

	<div id="header-wrapper">
		<div id="header" class="container">
			<div id="logo">
				<h1><a href="#">O que é saúde pública?</a></h1>
				<p>Descubra agora e <a href="informe-se.html">informe-se a respeito</a> do assunto!</p>
			</div>
		</div>
	</div>

	</div>

	<div id="banner"></div>

	<div id="page" class="container">

		<div id="content">

			<div class="title">

				<h2>UM POUCO DE HISTÓRIA</h2>
				<br>
				<span class="byline">Nem sempre a saúde foi pensada como algo público. Somente com a consolidação dos Estados nacionais modernos é que as populações passam a ser consideradas como algo a ser preservada.</span> </div>

				<audio preload="metadata" controls autoplay loop>
					<source src="{% static 'narracao/audio-homepage.mp3' %}" type="audio/mpeg">
					<p>Ops! Seu navegador não suporta reproduzir o áudio. <a href="narracao/audio-homepage.mp3">Clique aqui para realizar o download do arquivo MP3.</a></p>
				</audio>

			<p><hr></p>

			<p align="justify">O crescimento das cidades e o aumento das populações vivendo nos mesmos espaços fez com que surgissem preocupações com epidemias, taxas de natalidade, mortalidade e a organização das cidades para que as pessoas vivessem melhor. A saúde como bem público começa no século 17 na Europa. O movimento de institucionalização da saúde, como uma preocupação do Estado ganha mais força ainda no século 19, com a institucionalização da Higiene na França, que é vista como parte da medicina e da administração pública, que precisa manter a população saudável.</p>

			<p align="justify">No Brasil, as intervenções sobre a saúde da coletividade ganham força durante a República Velha, como estratégia de saneamento dos espaços de circulação da economia cafeeira. É a época de Oswaldo Cruz e das campanhas sanitárias, em que se destacam as medidas de saneamento voltadas à erradicação da Febre Amarela urbana e a vacinação obrigatória contra a varíola. Porém o modelo de seguridade social apresentado pelo SUS existe há pouco mais de 30 anos. Até a década de 1920 a população geral e, principalmente de baixa renda, dependia da caridade das Santas Casas de Misericórdia para ter acesso a serviços de saúde, ainda muito precários. A partir da década de 1920, passamos a seguir um modelo de Seguro Social, que assegurava serviços de saúde aos contribuintes da Previdência Social. É apenas a Constituição de 1988 que vai prever a saúde como um direito de todo cidadão.</p>

			<p>Gostou do assunto? Veja o conteúdo completo <a href="informe-se.html" rel="">clicando aqui!</a></p>

		</div>
		
		<div id="sidebar">
			<div class="box2">

				<div class="title">
					<h2>NOTÍCIAS</h2>
				</div>

				<ul class="style2">

					<li align="justify"><a href="https://www.folhape.com.br/noticias/nunca-vivemos-uma-interferencia-politica-tao-extrema-na-saude/173842/" target="_blank"> Folha de Pernambuco - 'Nunca vivemos uma interferência política tão extrema na saúde pública', diz Dimas Covas</a></li>

					<li align="justify"><a href="https://www.bbc.com/portuguese/internacional-56091612" target="_blank"> BBC Brasil - Falta de medicamentos para câncer, sífilis e covid-19 escancara crise na saúde pública</a></li>

					<li align="justify"><a href="https://g1.globo.com/sp/bauru-marilia/noticia/2021/02/17/tce-investiga-caos-na-saude-publica-de-jau-por-suspeita-de-falta-de-aplicacao-de-verba.ghtml" target="_blank"> G1 - TCE investiga caos na saúde pública de Jaú por suspeita de falta de aplicação de verba</a></li>

					<li align="justify"><a href="https://agenciapara.com.br/noticia/25319/" target="_blank"> Para - Saúde pública do Pará recebe certificações de atestado de qualidade</a></li>

					<li align="justify"><a href="https://g1.globo.com/bemestar/vacina/noticia/2021/02/20/ministerio-da-saude-publica-dispensa-de-licitacao-para-compra-das-vacinas-covaxin-e-sputnik-v.ghtml" target="_blank"> G1 - Ministério da Saúde publica dispensa de licitação para compra das vacinas Covaxin e Sputnik V</a></li>

				</ul>

			</div>
		</div>

	</div>

</div>

<div id="copyright" class="container">
	<p>INSTITUTO FEDERAL DO MARANHÃO (CAMPUS BACABAL) | TRABALHO DE AUTORIA WEB</p>
</div>

<!-- VLIBRAS -->

<div vw class="enabled">
	
    <div vw-access-button class="active"></div>

    <div vw-plugin-wrapper>
      <div class="vw-plugin-top-wrapper"></div>
    </div>

  </div>

  <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>

  <script>
    new window.VLibras.Widget('https://vlibras.gov.br/app');
  </script>

</body>
</html>
